* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    background-image: linear-gradient(40deg, #ffffff21, #10507a11);

  }
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-image: url("img/wp7420862.jpg");
        opacity: 0.9;
        background-size: cover;
        
    }

    .container {
        max-width: 800px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    .textarea-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }

    textarea, .history-box {
        width: 96%;
        min-height: 150px;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        resize: none;
        font-family: Arial, sans-serif;
        padding: 10px;
        margin: 0 10px 0 10px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        background-color: whitesmoke;
        border-radius: 0.5em;
        height: auto;
        border-radius: 0.5em;
      
    }

    .history-box {
        position: relative;
        display: none;
        width: 98%;
        background-color: #f9f9f9;
        padding: 0;
        border: none;
        margin-bottom: 20px;
        padding: 10px;
        margin: 0 10px 0 10px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        background-color: whitesmoke;
        border-radius: 0.5em;
        height: auto;
    }

    .history-title {
        background-color: #ddd;
        padding: 10px;
        margin: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .history-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .history-item {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .input-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
    }

    button {
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-align: center;
        border: 10;
        font-weight: bold;
        background-color: #28a745;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 0.5em;
        text-align: center;
    }

    button:hover  {
        background-color: #0056b3;
    }

    .outputBox {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        border-radius: 0.5em;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 0.5em;
        
    }

    .output-title {
        margin: 0;
        padding-bottom: 10px;
        border-bottom: 2px solid #ddd;
    }

    .outputText {
        margin: 0;
        font-family: Arial, sans-serif;
    }


    #copyButton {
        background-color: #0056b3;
        display: none;
        background-color: #28a745;
    }

    #copyButton:hover {
        background-color: #0056b3 !important;
    }

    .flex-container {
        display: flex;
    }

    .flex-item {
        margin-right: 20px;
    }

